.card {
  width: 50%;
  margin: 20pt auto;
  background: rgba(35, 39, 42, 0.75);
  padding: 10pt 25pt;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 30pt;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

h3 {
  color: #faea0c;
}
.name {
  padding-bottom: 10pt;
  border-bottom: rgba(255, 255, 255, 0.5) solid 3px;
}
.cardBody {
  display: flex;
  margin: auto;
  justify-content: center;
}
.information {
  padding-left: 20pt;
  width: 50%;
}

.video {
  border-radius: 10pt;
}

.details {
  margin-top: 0;
  padding-top: 0;
}
